@font-face {
  font-family: "Lalezar-Regular";

  src: url(../fonts/Lalezar-Regular.eot) format("eot"),
    url(../fonts/Lalezar-Regular.ttf) format("ttf"),
    url(../fonts/Lalezar-Regular.woff) format("woff");
}

body {
  margin: 0;
  font-family: "Lalezar-Regular";
}
@media only screen and (max-width: 412px) {
  html { max-width:  410px;
    
}
}
.logo {
font-size:50px;
color: rgba(255, 255, 255, 0.838);
background-image: url(../img/Shot04.png);
display: block;


}

.de-a {
  text-decoration: none;
}
.li-a {
  list-style-type: none;
}
.header-li {
  float: right;
  padding: 0px 2px;
  color: aliceblue;
}
.instagram {
  color: rgba(4, 4, 4, 0.782);
  padding: 8px;
}
.instagram:hover {
  background-image: url(../img/logoInsta.jpg);
  background-position: center;
  background-size: cover;
  color: rgba(240, 248, 255, 0.782);
  border-radius: 20px;
  padding: 8px;
  transform: unset;
}
.rubika {
  color: rgba(4, 4, 4, 0.782);
  padding: 8px;
}
.rubika:hover {
  background-image: url(../img/logorubica.png);
  background-position: center;
  background-size: cover;
  color: rgb(240, 248, 255);
  border-radius: 20px;
  padding: 8px;
}
.whatsapp {
  color: rgba(4, 4, 4, 0.782);
  padding: 8px;
}
.whatsapp:hover {
  background-image: url(../img/waeg.png);
  background-position: center;
  background-size: cover;
  color: rgb(240, 248, 255);
  border-radius: 20px;
  padding: 8px;
}
.telegram {
  color: rgba(4, 4, 4, 0.782);
  padding: 8px;
}
.telegram:hover {
  background-image: url(../img/tel.png);
  background-position: center;
  background-size: cover;
  color: rgb(240, 248, 255);
  border-radius: 20px;
  padding: 8px;
}
